@charset "utf-8";

ul.repos {
    text-align: left;
}

ul.repos li {
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0px 16px 0px;
    padding: 0px 0px 0px 0px;
}

ul.repos li:hover {
    background-color: transparent;
}

input[type="checkbox"].button {
    padding-bottom: 0px;
}

input[type="checkbox"].button:hover {
    border-bottom: none;
}
