@charset "utf-8";

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen"), local("Oxygen-Regular"), url(../fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 700;
    src: local("Oxygen Bold"), local("Oxygen-Bold"), url(../fonts/Oxygen-Bold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semi-Bold"), local("OpenSans-Semibold"), url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 300;
    src: local("Merriweather Light"), local("Merriweather-Light"), url(../fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: local("Merriweather"), url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../fonts/Merriweather-Bold.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 900;
    src: local("Merriweather Heavy"), local("Merriweather-Heavy"), url(../fonts/Merriweather-Black.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 300;
    src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(../fonts/Merriweather-LightItalic.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    src: local("Merriweather Italic"), local("Merriweather-Italic"), url(../fonts/Merriweather-Italic.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 700;
    src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(../fonts/Merriweather-BoldItalic.ttf);
}

@font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 900;
    src: local("Merriweather Heavy Italic"), local("Merriweather-HeavyItalic"), url(../fonts/Merriweather-HeavyItalic.ttf);
}

body {
    color: #2d2d2d;
    font-family: "Merriweather", "Open Sans", Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    line-height: 26px;
    margin: 0px 0px 0px 0px;
}

body.side-color {
    background-color: #f4f4f4;
}

body.uwide,
body.mobile,
body.tablet {
    background-color: #ffffff;
}

h1 {
    margin: 24px 0px 24px 0px;
}

h2 {
    margin: 38px 0px 14px 0px;
}

h3 {
    margin: 18px 0px 14px 0px;
}

li {
    margin: 5px 0px 5px 0px;
}

a {
    color: #3668c6;
    text-decoration: none;
}

a.active {
    font-weight: bold;
}

a:hover,
a.hover {
    padding-bottom: 2px;
    text-decoration: underline;
}

a img {
    text-decoration: none;
}

a:hover img,
a.hover img {
    text-decoration: none;
}

pre[class*="language-"] {
    background-color: #f6f6f6;
    border: 1px solid #dadada;
    box-shadow: 0px 1px 3px #eeeeee;
    -moz-box-shadow: 0px 1px 3px #eeeeee;
    -webkit-box-shadow: 0px 1px 3px #eeeeee;
    font-family: Consolas, Monaco;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    padding: 12px 16px 12px 16px;
}

body.flat pre[class*="language-"] {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

:not(pre) > code[class*="language-"] {
    background-color: #f2f2f2;
    border: 1px solid #dadada;
    border-radius: 0px 0px 0px 0px;
    font-family: Consolas, Monaco;
    font-size: 13px;
    font-style: normal;
    margin: 0px 3px 0px 3px;
    padding: 3px 6px 3px 6px;
    word-wrap: break-word;
}

body.flat :not(pre) > code[class*="language-"] {
    border: none;
}

.toggler {
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
}

.toggler:hover {
    border: 1px solid #c6c6c6;
}

body.mobile .toggler,
body.tablet .toggler {
    display: none;
}

.github-fork {
    border: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}

body.uwide .github-fork,
body.mobile .github-fork,
body.tablet .github-fork {
    display: none;
}

.wrapper {
    background-color: #ffffff;
    margin: 0px auto 0px auto;
    max-width: 820px;
    min-width: 240px;
    padding: 8px 24px 8px 24px;
}

body.wide .wrapper {
    max-width: 960px;
}

body.uwide .wrapper {
    max-width: 100%;
}

body.border .wrapper {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-left: 40px;
    padding-right: 40px;
}

body.side-color .wrapper {
    box-shadow: 0px 0px 4px #bbbbbb;
    -moz-box-shadow: 0px 0px 4px #bbbbbb;
    -webkit-box-shadow: 0px 0px 4px #bbbbbb;
}

body.mobile .wrapper,
body.tablet .wrapper {
    box-sizing: border-box;
    padding: 0px 12px 0px 12px;
    width: 100%;
}

body.uwide .wrapper,
body.mobile .wrapper,
body.tablet .wrapper {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.footer {
    text-align: center;
}

.footer .product {
    background: transparent url(../images/footer.png) no-repeat center center;
    color: #ffffff;
    font-weight: bold;
    height: 24px;
    margin: 32px auto 0px auto;
    max-width: 960px;
    min-width: 240px;
    text-transform: lowercase;
}

body.wide .footer .product {
    max-width: 960px;
}

body.uwide .footer .product {
    max-width: 100%;
}

body.mobile .footer .product,
body.tablet .footer .product {
    width: 100%;
}

.footer .slogan {
    color: #6d6d6d;
    font-size: 12px;
    margin: 12px 0px 12px 0px;
}

.footer .slogan a {
    color: #4d4d4d;
    font-weight: bold;
}
